.html-text-box {
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
}
.html-text-box:active {
    border-color: #9AD5CA;
}
body {
    background-color: #f8f9fb;
}
.h1 {
  font-family:'Raleway', sans-serif;
  text-transform: lowercase;
  font-weight: 900;
  line-height: 1.2em;
  letter-spacing: .025em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 30px;
    color: #2B2C28;
padding-left: 10px;
    text-decoration: none;
}
.submitbtn {
    text-transform: uppercase;
    text-decoration: none;
    background: #9AD5CA;
    font-size: 20px;
    border: none;
    padding: 15px 20px 15px 20px;
    color: #fff;
    font-family: "Poppins", sans-serif;
}
.submitbtn:hover {
    background: #F3F3F3;
    color: #000;
    transition: 0.2s;
}
::selection {
    background: #2B2C28;
    color: #fff;
    padding: 100px;
}
p {
    text-transform: uppercase;
    font-family: "Questrial", sans-serif;
    color: #6b88a4;
    font-size: 14px;
    padding: 0.5px;
}
dash {
    text-transform: uppercase;
    font-family: "Questrial", sans-serif;
    color: #2B2C28;
    font-size: 14px;
    padding: 0.5px;
}

h2 {
    font-family:'Poppins', sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 1.2em;
  letter-spacing: .025em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 30px;
    color: #2B2C28;
padding-left: 40px;
    padding-top: 20px;
}
h3 {
    font-family:'Questrial', sans-serif;
  text-transform: none;
  font-weight: 900;
  line-height: 1.2em;
  letter-spacing: .025em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
    color: gray;
padding-left: 40px;
padding-right: 40px;
}